<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="bg-light">
<div class="container-fluid col-sm-10 bg-white">

<h1 class="h1 mb-4"> Direitos Autorais</h1>
<h4 class="mb-3">O que é Direitos Autorais?</h4>
<div>
<p><strong>Direitos Autorais</strong> : É um conjunto de prerrogativas conferidas por lei à pessoa física ou jurídica criadora da obra intelectual, para que ela possa usufruir de quaisquer benefícios morais e patrimoniais resultantes da exploração de suas criações.É derivado dos direitos individuais e situa-se como um elemento híbrido, especial e autônomo dentro do direito civil
</p>
<p>Os direitos autorais são divididos, para efeitos legais, em direitos morais e patrimoniais.
</p>

<p><strong>Direitos morais</strong> asseguram a autoria da criação ao autor da obra intelectual e são intransferíveis e irrenunciáveis.
</p>
<p><strong>Direitos patrimoniais</strong> se referem principalmente à utilização econômica da obra intelectual, podendo ser transferidos e/ou cedidos a outras pessoas. A transferência dos direitos patrimoniais se dá por meio de licenciamento e/ou cessão.

</p>

</div>

<div>
    <h4> O que é plágio ?</h4>
    <p>A preocupação com os direitos autorais e propriedade intelectual não é recente. Entretanto, nos últimos anos, com o advento da Internet e a ampliação do acesso aberto à informação, as questões referentes à integridade da pesquisa e à prevenção da ocorrência do plágio têm suscitado discussões mais profundas.

<p>A palavra plágio designa o ato de apresentar uma obra cultural, artística ou intelectual contendo partes de uma obra que pertença a outra pessoa sem a permissão do autor. No ato de plágio, o plagiador apropria-se indevidamente da obra intelectual de outra pessoa, assumindo a autoria.
</p>
<p>Assim, o plágio pode ser encontrado nos mais diversos ramos da cultura, música, literatura, trabalhos científicos, trabalhos acadêmicos, letras de música, poesia e etc. O correto quando se utiliza uma criação de outra pessoa é citá-la como referência e conforme o caso pagar pelos direitos de usar a obra ou a parte dela criada por outra pessoa. Quando não se tomam essas providências temos o plágio.
</p>

    </div>

    <div>
    <h4> Plágio acadêmico </h4>
    <p>plágio acadêmico é qualquer cópia, seja ela parcial ou total, de algum conteúdo já existente, sem que os devidos créditos sejam dados ao autor.

    <p>A tecnologia, o contato entre pesquisadores e a facilidade de acesso às revistas científicas propiciaram um maior intercâmbio de informações. Mas também foram esses fatores que favoreceram práticas como o “roubo” de ideias.
    </p>
    </div>

<div>
    <h4> Lei </h4>
    <p>O plágio é considerado um crime no Brasil e está previsto na lei 9.610 (Lei de direitos autorais). Apesar disto, esta legislação destina-se somente para o amparo legal de obras comerciais, permitindo que pequenas partes de textos sejam copiadas sem enquadrar-se na modalidade de “plágio”.
    </p>
    <p><strong>Art 103</strong> Quem editar obra literária, artística ou científica, sem autorização do titular, perderá para este os exemplares que se apreenderem e pagar-lhe-á o preço dos que tiver vendido.
    <p>
    <p><strong>Art 106</strong> A sentença condenatória poderá determinar a destruição de todos os exemplares ilícitos, bem como as matrizes, moldes, negativos e demais elementos utilizados para praticar o ilícito civil, assim como a perda de máquinas, equipamentos e insumos destinados a tal fim ou, servindo eles unicamente para o fim ilícito, sua destruição.
    <p>

    </div>

<div>
    <h4> Casos </h4>
    <p>No início da década de 80, a Microsoft era uma pequena empresa desenvolvedora de software que prestava serviços a Apple. Porém, durante esse período, ao mesmo tempo que trabalhava com a Apple também estavam a copiar as suas tecnologia (já copiadas). E, o resultado disso foi a criação do primeiro Windows e de uma disputa judicial que durou até aproximadamente 1997.
    </p>
    <p>O Banco do Brasil foi condenado a indenizar a empresa Simpec Informática e o empresário Aquino de Rezende Soares pelo uso e alteração do programa de computador SCC ( Sistema de Comercialização Computadorizado ). A decisão é da 1ª Turma Cível do Tribunal de Justiça do Distrito Federal.
    </p>
    <p>Em 2013 a conceituadíssima Universidade Harvard, nos Estados Unidos, expulsou alunos que estavam sendo investigados por suspeita de cola. A Universidade tem um teste que pode ser feito em casa e em um grupo de 125 estudantes os professores encontraram respostas iguais. Depois da investigação, constatou-se o esquema de cola e a instituição optou pela expulsão de 60 dos 125 alunos.
    </p>
    <p>Dois canais brasileiros do YouTube foram acusados de plágio. O influenciador Geoff Thew, do canal Mother’s Basement, acusou Marina Delveccio do canal Pense Geek de copiar seus vídeos, desde o roteiro a até mesmo piadas. Outro acusado é Mateus Hwang, do canal homônimo, o qual chegou a assumir que utilizou conteúdos que não eram seus.
    </p>
    </div>
</div>
</div>
